@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

$bg: #f5f5f5;

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d4efff;
}

.calculator {
  width: 400px;
  border-radius: 40px;
  border: 15px solid rgba(93, 226, 255, 0.47);
}
.calculator-display {
  background: rgba(255, 255, 255, 1);
  display: inline-block;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.calculator-display h1 {
  background: rgba(255, 255, 255, 1);
  margin: 0;
  padding: 25px;
  font-size: 45px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 100;
  overflow-x: auto;
  border-radius: 40px;
}

.calculator-button {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

.equal-sign {
  grid-column: -2;
  grid-row: 2 / span 4;
}

button {
  color: white;
  position: relative;
  min-width: 60px;
  min-height: 60px;
  font-size: 20px;
  font-weight: 100;
  border: none;
  cursor: pointer;
  background: rgba(93, 226, 255, 0.47);
}

button:hover {
  filter: brightness(110%);
}

button:active {
  transform: translateY(2px);
}

button:focus {
  outline: none;
}

.upper {
  position: absolute;
  font-size: 10px;
  left: 60%;
  top: 30%;
}

.clear:hover {
  filter: brightness(90%);
}

@media screen and(max-width:600px) {
  .calculator {
    width: 95%;
  }
}
